<div class="calendar-container w-100 d-flex flex-row">
    <div *ngFor="let race of raceData" class="w-33">
        <mat-card class="race-card">
            <mat-card-header>
                <div mat-card-avatar class="flag-header-image" [ngStyle]="{'background-image': 'url(' + race.flagUrl() + ')'}">
                </div>
                <mat-card-title class="race-card-title">{{race.name}}</mat-card-title>
                <mat-card-subtitle>{{race.city}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../../../assets/track icons/{{race.flag}}.png">
            <mat-card-content>
                <h3>Round: {{race.round}}</h3>
                <h3>Lights Out: {{race.date.toTimeString()}}</h3>
            </mat-card-content>
        </mat-card>
    </div>
</div>